<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="#">ALL FOR GYM EL SALVADOR
      <img src="/static/logo.png" alt="Logo"> <!-- Mueve el logo al principio -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Ropa</a>
            <a class="dropdown-item" href="#">Accesorios</a>
            <a class="dropdown-item" href="#">Suplementos deportivos</a>
            <a class="dropdown-item" href="#">Otro</a>
            <li class="nav-item">
                <a class="nav-link" href="/nosotros">Nosotros</a>
              </li>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control mr-sm-2 navbar-search" type="search" placeholder="Buscar" aria-label="Buscar">
          <div class="input-group-append">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </div>
    
    <!-- Botón del carrito con icono de Font Awesome -->
    <a class="btn btn-outline-secondary navbar-cart" href="#">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </nav>
  